.topbar {
    text-align: center;
}

.minefield {
    background: #002f4f;
    overflow: hidden;
}

.minecell {
    overflow: hidden;
    float:left;
    position: relative;
    border-radius: 2.5%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}

.minecell.closed {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
}
.minecell.closed:hover {
    background: #61c2ff;
    background-image: -webkit-linear-gradient(top, #61c2ff, #4ca2db);
    background-image: -moz-linear-gradient(top, #61c2ff, #4ca2db);
    background-image: -ms-linear-gradient(top, #61c2ff, #4ca2db);
    background-image: -o-linear-gradient(top, #61c2ff, #4ca2db);
    background-image: linear-gradient(to bottom, #61c2ff, #4ca2db);
}
.minecell.open {
    background: #bfe5ff;
    background-image: -webkit-linear-gradient(top, #bfe5ff, #9ac0d6);
    background-image: -moz-linear-gradient(top, #bfe5ff, #9ac0d6);
    background-image: -ms-linear-gradient(top, #bfe5ff, #9ac0d6);
    background-image: -o-linear-gradient(top, #bfe5ff, #9ac0d6);
    background-image: linear-gradient(to bottom, #bfe5ff, #9ac0d6);
}
.minecell.open.with0 {
}
.minecell.open.with1 {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    background-image:url('./img/1.png');
}
.minecell.open.with2 {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    background-image:url('./img/2.png');
}
.minecell.open.with3 {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    background-image:url('./img/3.png');
}
.minecell.open.with4 {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    background-image:url('./img/4.png');
}
.minecell.open.with5 {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    background-image:url('./img/5.png');
}
.minecell.open.with6 {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    background-image:url('./img/6.png');
}
.minecell.open.with7 {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    background-image:url('./img/7.png');
}
.minecell.open.with8 {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    background-image:url('./img/8.png');
}
.minecell.closed.withflag {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    background-image:url('./img/flag.png');
}
.minecell.closed.withmine {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    background-image:url('./img/mine.png');
}
.minecell.open.withexplosion {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    background-image:url('./img/explosion.png');
}