.Minecell {
    position: relative;
    margin:0.1%;
    width:100%;
}

.Minecell:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.Minecell-open {
    background: #bfe5ff;
    background-image: -webkit-linear-gradient(top, #bfe5ff, #9ac0d6);
    background-image: -moz-linear-gradient(top, #bfe5ff, #9ac0d6);
    background-image: -ms-linear-gradient(top, #bfe5ff, #9ac0d6);
    background-image: -o-linear-gradient(top, #bfe5ff, #9ac0d6);
    background-image: linear-gradient(to bottom, #bfe5ff, #9ac0d6);
}

.Minecell-closed {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
}

.Minecell-closed:hover {
    background: #61c2ff;
    background-image: -webkit-linear-gradient(top, #61c2ff, #4ca2db);
    background-image: -moz-linear-gradient(top, #61c2ff, #4ca2db);
    background-image: -ms-linear-gradient(top, #61c2ff, #4ca2db);
    background-image: -o-linear-gradient(top, #61c2ff, #4ca2db);
    background-image: linear-gradient(to bottom, #61c2ff, #4ca2db);
}

